aiodns==3.1.1
aiohttp==3.9.3
aiosignal==1.3.1
altair==4.2.2
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
appnope==0.1.4
apprise==1.7.4
asgiref==3.7.2
asttokens==2.4.1
attrs==23.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.8.2
bokeh==3.4.1
bottle==0.12.25
Brotli==1.1.0
bs4==0.0.2
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colourmap==1.1.17
comm==0.2.2
commonmark==0.9.1
compress-pickle==2.1.0
contourpy==1.2.0
cycler==0.12.1
d3graph==2.5.0
dash==2.17.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datazets==0.1.9
debugpy==1.8.2
decorator==5.1.1
dill==0.3.8
Django==5.0.3
dnspython==2.6.1
email_validator==2.2.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==2.0.1
fastapi==0.111.1
fastapi-cli==0.0.4
fc2-live-dl==2.2.0
ffmpeg==1.4
ffmpeg-python==0.2.0
Flask==3.0.3
Flask-Cors==4.0.1
Flask-SocketIO==5.3.6
fonttools==4.49.0
frozenlist==1.4.1
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
h11==0.14.0
htmltools==0.5.2
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
hydralit==1.0.14
hydralit_components==1.0.10
idna==3.6
image==1.5.33
importlib_metadata==7.1.0
ipykernel==6.29.5
ipython==8.26.0
ismember==1.0.4
itsdangerous==2.2.0
japanize-matplotlib==1.1.3
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
july==0.1.3
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
linkify-it-py==2.0.3
lxml==5.2.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.5.1
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.1
mdurl==0.1.2
MouseInfo==0.1.3
multidict==6.0.5
mutagen==1.47.0
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
oauthlib==3.2.2
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==23.2
pandarallel==1.6.5
pandas==1.5.3
parso==0.8.4
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.2.2
plotly==5.22.0
prompt_toolkit==3.0.47
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyaes==1.6.1
pyarrow==16.1.0
PyAutoGUI==0.9.54
pycares==4.4.0
pycparser==2.21
pycryptodomex==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
PyGetWindow==0.0.9
Pygments==2.18.0
Pympler==1.0.1
PyMsgBox==1.0.9
pyobjc-core==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-Quartz==10.1
pyparsing==3.1.1
pyperclip==1.8.2
pypng==0.20220715.0
PyRect==0.2.0
Pyrogram @ https://github.com/Dineshkarthik/pyrogram/archive/refs/heads/master.zip#sha256=722a4be0edc5002dcd05b462f333c860a790b67a1f62466b322377acd3985f77
PyScreeze==0.1.30
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.1
python-louvain==0.16
python-multipart==0.0.9
python-nmap==0.7.1
python-socketio==5.11.3
python2==1.2
pytweening==1.2.0
pytz==2024.1
PyYAML==6.0
pyzmq==26.0.3
qrcode==7.4.2
questionary==2.0.1
referencing==0.35.1
requests==2.31.0
requests-oauthlib==2.0.0
retrying==1.3.4
rich==12.5.1
rpds-py==0.18.1
rubicon-objc==0.4.7
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
selenium==4.19.0
semver==3.0.2
shellingham==1.5.4
shiny==0.10.1
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
stack-data==0.6.3
starlette==0.37.2
streamlit==1.18.1
streamlit-calendar==1.2.0
streamlit-d3-demo==0.1.0
streamlit-d3graph==1.0.3
streamlit-nested-layout==0.1.3
streamlit-option-menu==0.3.12
streamlit_pandas==0.0.9
tenacity==8.3.0
TgCrypto==1.2.3
threadpoolctl==3.5.0
toml==0.10.2
toolz==0.12.1
tornado==6.4
traitlets==5.14.3
trio==0.25.0
trio-websocket==0.11.1
typer==0.12.3
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
uc-micro-py==1.0.3
urllib3==2.2.1
uvicorn==0.29.0
uvloop==0.19.0
validators==0.28.3
watchfiles==0.22.0
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.0.3
wifi-password==1.1.1
wsproto==1.2.0
xlrd==2.0.1
xyzservices==2024.4.0
yarl==1.9.4
yt-dlp==2024.3.10
zipp==3.19.0
